<form [formGroup]="turmaForm" (ngSubmit)="onSubmit()">
  <div class="parent">
    <div class="header">
      <h2>Cadastrar nova turma</h2>
      <div class="action-buttons">
        <button class="editar" type="button" (click)="onEdit()" [disabled]="!isEditMode">Editar</button>
        <button type="button" (click)="onDelete()" [disabled]="!isEditMode">Excluir</button>
      </div>
    </div>
    <div class="div1">
      <div class="form-group">
        <label>Professor</label>
        <select formControlName="professor">
          <option *ngFor="let professor of professoresOpcao" [value]="professor">{{professor}}</option>
        </select>
      </div>
    </div>
    <div class="div2">
      <div class="form-group">
        <label>Nome da Turma</label>
        <input formControlName="nomeTurma" maxlength="64" minlength="8" required />
      </div>
      <div class="form-group">
        <label>Data de Início</label>
        <input type="date" formControlName="dataInicio" required />
      </div>
      <div class="form-group">
        <label>Data de Término</label>
        <input type="date" formControlName="dataTermino" required />
      </div>
    </div>
    <div class="div3">
      <div class="form-group">
        <label>Horário da Turma</label>
        <input type="time" formControlName="horarioTurma" required />
      </div>
    </div>
    <div class="div4">
      <button type="submit">Salvar</button>
    </div>
  </div>
</form>