<div class="lista-docentes-container" *ngIf="isAdmin">
  <h2>Listagem de docentes</h2>
  <div class="busca-docentes">
    <input type="text" [(ngModel)]="searchQuery" (input)="buscarDocentes()"
      placeholder="Buscar docentes por nome ou identificador">
  </div>
  <div class="titulos">
    <h5>Id</h5>
    <h5>Nome</h5>
    <h5>Telefone</h5>
    <h5>Ação</h5>
  </div>
  <div class="lista-docentes">
    <div *ngFor="let docente of docentes" class="docente-card">
      <p>{{ docente.id }}</p>
      <p>{{ docente.nomeCompleto }}</p>
      <p>{{ docente.telefone }}</p>
      <button (click)="verMais(docente.id)">Ver Mais</button>
    </div>
  </div>
</div>