.parent {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

h2 {
  font-size: 3rem;
  color: #735fe2;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons button {
  margin-left: 2rem;
}

.action-buttons button:first-child {
  background-color: #38ae59;
}

.action-buttons button:last-child {
  background-color: #f44336;
  margin-right: 4rem;
}

.div1,
.div2,
.div3,
.div4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.div3 {
  width: 50%;
}

.form-group {
  flex: 1;
  margin-right: 4rem;
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.7rem;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
}


.form-group input,
.form-group select {
  width: 100%;
  padding: 1.2rem;
  border: 3px solid #8573e8;
  border-radius: 0.7rem;
  font-size: 1.6rem;
  transition: border-color 0.3s;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #6e42e5;
  outline: none;
}

button {
  padding: 1.2rem 2.5rem;
  background-color: #6e42e5;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2.4rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5633c9;
}



@media (max-width: 1024px) {
  .form-group {
    min-width: 80%;
  }

  .action-buttons button {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .form-group {
    min-width: 100%;
  }

  .action-buttons button {
    width: 50%;
  }

  .div3 {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .form-group {
    min-width: 100%;
  }

  .action-buttons button {
    font-size: 2rem;
    width: 100%;
  }

  .action-buttons button:last-child {
    margin-right: 0;
  }

  h2 {
    font-size: 2rem;
  }

  .form-group label {
    font-size: 1.6rem;
  }

  .form-group input,
  .form-group select {
    font-size: 1.4rem;
    padding: 1rem;
  }

  button {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
}